* {
    margin: 0;
    padding: 0;
}

.game-container {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.choice-container {
    border: 5px solid rebeccapurple;
    display: flex;
    gap: 5px;
}

.score-container {
    border: 5px solid rebeccapurple
}